*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: relative;
  font-family: "PingFang SC", "Microsoft JhengHei","Microsoft YaHei","Hiragino Sans GB", "Heiti SC", STXihei, SimHei, "WenQuanYi Micro Hei";
  background: url("../images/bg.jpg") top center no-repeat #000;
  background-size: 1920px; }

section {
  position: relative;
  z-index: 0;
  text-align: center; }

.invisible {
  font-size: 0;
  opacity: 0;
  position: absolute;
  pointer-events: none; }

.index {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: .5;
  top: 0;
  left: 0;
  pointer-events: none; }
  .index img {
    width: 1920px;
    margin: 0 auto; }

.main-container {
  position: relative;
  width: 100%;
  min-width: 1200px;
  text-align: center;
  overflow: hidden;
  z-index: 0; }

.box-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px; }

.wrap {
  width: 1200px;
  margin: 0 auto; }

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.abreast-t {
  display: inline-block;
  vertical-align: top; }

.btn-next {
  position: absolute;
  bottom: 6%;
  width: 28px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  border: 2px solid;
  left: calc(50% - 14px);
  cursor: pointer;
  -webkit-animation: anFloatDown 1.5s infinite;
  animation: anFloatDown 1.5s infinite; }
  .btn-next::after {
    content: '';
    position: absolute;
    top: 8px;
    left: calc(50% - 1px);
    width: 2px;
    height: 6px;
    border-radius: 4px;
    color: inherit;
    background: #fff; }
  .btn-next:hover {
    opacity: .8; }
    .btn-next:hover::after {
      -webkit-animation: paused;
      animation: paused; }

.main-vision-box {
  position: relative;
  min-height: 100vh;
  height: 900px;
  margin-bottom: 4%; }
  .main-vision-box .flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 750px;
    position: absolute;
    top: calc(50% - 385px);
    left: calc(50% - 600px); }
  .main-vision-box .main-vision {
    position: relative;
    width: 42%;
    text-align: right;
    padding-bottom: 55px;
    z-index: 1; }
    .main-vision-box .main-vision .mobile {
      width: 230px; }
    .main-vision-box .main-vision .mobile2 {
      position: absolute;
      bottom: 0;
      right: 170px;
      z-index: -1; }
    .main-vision-box .main-vision .coin {
      position: absolute;
      display: block; }
    .main-vision-box .main-vision .coin1 {
      right: -65px;
      bottom: 120px; }
      .main-vision-box .main-vision .coin1 img {
        -webkit-animation: anFloatUp 5s infinite;
        animation: anFloatUp 5s infinite; }
    .main-vision-box .main-vision .coin2 {
      bottom: -40px;
      left: -25px; }
      .main-vision-box .main-vision .coin2 img {
        -webkit-animation: anFloatUp 5s infinite;
        animation: anFloatUp 5s infinite; }
  .main-vision-box .main-title {
    width: 55%;
    color: #fff;
    font-size: 34px; }
    .main-vision-box .main-title h1 {
      margin-bottom: 22px;
      font-size: 62px;
      font-weight: bold;
      letter-spacing: .1em; }
  .main-vision-box .logo {
    width: auto;
    height: 50px; }
  .main-vision-box .qr-box {
    height: 265px;
    margin: 24px auto 48px;
    position: relative;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; }
    .main-vision-box .qr-box .qr-info, .main-vision-box .qr-box .qr-bg {
      height: 120%;
      -webkit-transform: translate3d(-10%, 10%, 0) rotate(-10deg);
      transform: translate3d(-10%, 10%, 0) rotate(-10deg); }
    .main-vision-box .qr-box .qr-info {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      padding: 6% 24% 6% 45%; }
      .main-vision-box .qr-box .qr-info img {
        width: 150px;
        height: 150px; }
      .main-vision-box .qr-box .qr-info p {
        font-size: 18px;
        color: #df314a;
        font-weight: bolder;
        line-height: 2em;
        letter-spacing: .1em; }
  .main-vision-box::before {
    display: block;
    width: 150%;
    height: 205%;
    min-height: 200vh;
    position: absolute;
    top: 0;
    left: -25%;
    border-radius: 0 0 100% 100%;
    background: #cb256f;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #cb256f 25%, #f54025 50%, #d42b5b 75%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #cb256f 25%, #f54025 50%, #d42b5b 75%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, #cb256f 25%, #f54025 50%, #d42b5b 75%);
    background: linear-gradient(45deg, #cb256f 25%, #f54025 50%, #d42b5b 75%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb256f', endColorstr='#d42b5b',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    z-index: -1; }

.game-box {
  padding: 65px 0 0;
  margin-bottom: 70px;
  color: #fff;
  letter-spacing: 2px; }
  .game-box .game-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 65px; }
    .game-box .game-list .list-item {
      width: calc(50% - 48px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 0 0 65px;
      text-align: left;
      font-size: 16px;
      color: #fff; }
      .game-box .game-list .list-item .icon {
        position: relative;
        margin-right: 24px; }
        .game-box .game-list .list-item .icon img {
          width: 80px;
          border-radius: 12px; }
        .game-box .game-list .list-item .icon::after {
          content: '';
          display: block;
          position: absolute;
          top: 40%;
          left: 5%;
          width: 90%;
          height: 60%;
          border-radius: 100%;
          -webkit-box-shadow: 0 18px 18px 9px rgba(80, 13, 39, 0.25);
          box-shadow: 0 8px 18px 7px #b61138d9;
          z-index: -1; }
      .game-box .game-list .list-item .info h3 {
        font-size: 24px;
        margin-bottom: 12px;
        font-weight: bolder; }
      .game-box .game-list .list-item .info p {
        width: 24em;
        font-size: 16px;
        font-weight: lighter;
        line-height: 1.8em;
        text-align: justify;
        text-justify: auto; }

.step-box {
  padding: 80px 0 130px;
  overflow: hidden; }
  .step-box .sub-title {
    font-size: 20px;
    letter-spacing: .1em;
    color: #656565;
    letter-spacing: 2px; }
  .step-box .step-list {
    margin: 72px auto 0;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .step-box .step-list .text {
      color: #656565;
      font-size: 18px;
      margin-bottom: 20px; }
    .step-box .step-list .bold {
      font-family: "Arial Black","PingFang SC";
      font-weight: bold;
      color: #000; }
    .step-box .step-list .vision {
      width: 520px;
      margin: 0 auto; }
      .step-box .step-list .vision img {
        width: 100%; }
  .step-box .btn {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 395px;
    line-height: 90px;
    font-size: 28px;
    letter-spacing: .1em;
    color: #fff;
    z-index: 0; }
    .step-box .btn::before, .step-box .btn::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block; }
    .step-box .btn::before {
      border-radius: 32px;
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ee3b2e+0,c6256b+100 */
      background: #ee3b2e;
      /* Old browsers */
      background: -moz-linear-gradient(top, #ee3b2e 0%, #c6256b 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #ee3b2e 0%, #c6256b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear, left top, left bottom, from(#ee3b2e), to(#c6256b));
      background: -o-linear-gradient(top, #ee3b2e 0%, #c6256b 100%);
      background: linear-gradient(to bottom, #ee3b2e 0%, #c6256b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee3b2e', endColorstr='#c6256b',GradientType=0 );
      /* IE6-9 */
      z-index: -1; }
    .step-box .btn::after {
      left: 15%;
      width: 70%;
      height: 50%;
      border-radius: 100%;
      -webkit-box-shadow: 0 12px 20px #b07d93;
      box-shadow: 0 12px 20px #b07d93;
      z-index: -2; }
    .step-box .btn:hover::before {
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ee3b2e+0,c6256b+100 */
      background: #c6256b;
      /* Old browsers */
      background: -moz-linear-gradient(bottom, #ee3b2e 0%, #c6256b 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, #ee3b2e 0%, #c6256b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: -webkit-gradient(linear, left bottom, left top, from(#ee3b2e), to(#c6256b));
      background: -o-linear-gradient(bottom, #ee3b2e 0%, #c6256b 100%);
      background: linear-gradient(to top, #ee3b2e 0%, #c6256b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6256b', endColorstr='#ee3b2e',GradientType=0 );
      /* IE6-9 */ }

footer {
  background: #777777;
  text-align: center;
  color: #fff;
  padding: 28px 0;
  letter-spacing: 2px; }
  footer p {
    font-size: 22px; }
  footer .product-list {
    margin: 24px auto 12px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    footer .product-list li {
      font-size: 18px;
      margin: 0 12px;
      color: #acacac; }

@-webkit-keyframes anFloatUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50%, 70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes anFloatUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50%, 70% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes anFloatDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50%, 70% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes anFloatDown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50%, 70% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
