@function vw($target){
$vw-context: (375 * 0.01) * 1px;
@return ($target / $vw-context) * 1vw;
}

@function vh($target){
$vh-context: (667 * 0.01) * 1px;
@return ($target / $vh-context) * 1vh;
} 

*, *::before, *::after {
	box-sizing: border-box;
}
body {
    font-family:"PingFang SC", "Hiragino Sans GB", "Heiti SC", STXihei, "Microsoft YaHei", SimHei, "WenQuanYi Micro Hei";
    background: #fff;
}
section {
	position: relative;
	z-index: 0;
	text-align: center;
}
ul {
	font-size: 0;
	letter-spacing: 0;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
